<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>发布帖子</title>
    <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/base.js"></script>
    <script src="js/post.js"></script>
    <link rel="stylesheet" type="text/css" href="css/post.css">
</head>
<body>
    <div id="header"> </div>
    <div class="Content-Main">
        <div class="Content-Main1">
            <h1>发布帖子</h1>
        </div>
        <form action="/post_page" method="post" class="form-report" enctype="multipart/form-data" >
            <label>
                <span>Type:</span>
                <select name="select2" class="select2" id="select2">
                    <option value="1">娱乐</option>
                    <option value="2">新闻</option>
                    <option value="3">知识</option>

                </select>
            </label>
            <label>
                <div class="upload_box" id="url">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>&nbsp;&nbsp;&nbsp;上传图片</b>

                <input type="file" name="file" id="file" accept="image/*" onchange="imgChange(this);"/> <!--文件上传选择按钮-->

                <div id="preview">

                <img id="imghead" src="insert_image.gif" width="260" height="180" /> <!--图片显示位置-->

    </div>

    </div>

            </label>
            <label>
                <span>title:</span>
                <textarea id="title" name="title" placeholder="请填写写您的帖子title"></textarea>
            </label>
            <label>
                <span>Describe:</span>
                <textarea id="describe" name="describe" placeholder="请填写帖子内容"></textarea>
            </label>


            <label>
                <input id="button" type="submit" value="提交" name="submit" >
            </label>


            <input type="hidden" id="code" th:value="${code}">
        </form>
    </div>
    <div id="footer"> </div>
</body>
</html>